<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="humanoid">
    <xacro:arg name="initial_positions_file" default="$(find robot_description)/config/initial_positions.yaml" />

    <!-- Import humanoid urdf file -->
    <xacro:include filename="humanoid.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="humanoid.ros2_control.xacro" />


    <xacro:humanoid_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
